.container {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start {
  margin-bottom: 5rem;
  font-size: 3vw;
  font-weight: 500;

}

.finish {
  margin-bottom: 5rem;
  font-size: 3vw;
  font-weight: 500;

}


.container {
    padding: 100px 20px 0;
    max-width: 960px;
    margin: 0 auto;
}

.answercontainer {
  /* background: white; */
  padding: 20px;
  border-radius: 10px;
  border: none;
  margin-bottom: 5rem;
  box-shadow:
  0  5px 10px rgba(154,160,185,0.05),
  0 15px 40px rgba(166,173,201,0.2);
}

.answercontainerhidden {
  
  visibility: hidden;
  padding: 20px;
  border-radius: 10px;
  border: none;
  margin-bottom: 5rem;
}


.questioncontainer {
  /* background: white; */
  padding: 20px;
  border-radius: 10px;
  border: none;
  margin-bottom: 5rem;
  font-size: 1.3vw;
  font-weight: 300;
  box-shadow:
  0  5px 10px rgba(154,160,185,0.05),
  0 15px 40px rgba(166,173,201,0.2);
}

.start {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

.questioncontainer p {
    font-size: 2vw;
    font-weight: 400;
    text-align: center;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
    
}

.answercontainer p {
    font-size: 2vw;
    font-weight: 400;
    text-align: center;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}





@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}